@import '../../../../assets/styles/importable/functions';

.mat-elevation-z8 {
  position: relative;
  width: 80%;
  margin-left: rem(25);
  padding: rem(16);
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: rem(14);
  width: 100%;
}

td, th {
  width: 25%;
}

.profile-picture {
  height: rem(40);
  border-radius: 50%;
  vertical-align: middle;
}

.detail-icon {
  display: inline-block;
  width: rem(30);
  height: rem(16);
  cursor: pointer;
}

.backdrop {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255 255 255 / 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

