<div class="mat-elevation-z8">

  <div *ngIf="isLoadingResults"
       class="backdrop">
    <app-loader></app-loader>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         matSort
         matSortActive="created"
         matSortDisableClear
         matSortDirection="desc">

    <!-- DYNAMIC COLUMNS -->
    <ng-container *ngFor="let column of columns"
                  [matColumnDef]="column.columnDef">
      <th mat-header-cell
          mat-sort-header
          *matHeaderCellDef>{{column.headerDef}}</th>

      <td mat-cell
          *matCellDef="let row">

        <!-- COLUMN TYPES -->
        <ng-container *ngIf="column.columnType === 'COLUMN'">
          {{row[column.columnDef]}}
        </ng-container>

        <ng-container *ngIf="column.columnType === 'ACTION'">
          <fa-icon [icon]="icons.chevronRight"
                   class="detail-icon"
                   (click)="showDetail(row.login)">
          </fa-icon>
        </ng-container>

        <ng-container *ngIf="column.columnType === 'IMAGE'">
          <img [src]="row[column.columnDef]"
               alt="profile-picture"
               class="profile-picture">
        </ng-container>

        <ng-container *ngIf="column.columnType === 'DATE'">
          {{row[column.columnDef] | date}}
        </ng-container>

      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="rate-limit-reached"
       *ngIf="isRateLimitReached">
    GitHub's API rate limit has been reached. It will be reset in one minute.
  </div>

  <mat-paginator [length]="resultsLength"
                 [pageSize]="defaultPageSize"
                 [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
